.product {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}


.product a {
    padding: .5rem 1rem;
    width: fit-content;
    font-weight: noraml;
    font-size: .75rem;
    border: 1px solid #555;
    border-radius: 1rem;
    text-transform: capitalize;
    color: #555;
}